/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/windows_installer
/build_installer.js
/eC34-Pedidos-win32-x64
/firma_codigo.pfx
.vercel
